[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "fury"
url = "$GEMFURY_READ_URL"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
roverdata = {version = "*",index = "fury"}
ipykernel = "*"
scipy = "*"
statsmodels = "*"
